{% extends 'base.html.twig' %}

{% block body %}

<a href="{{ path('sondage_index') }}" class="btn btn-default btn-fill ">Retourner à la liste</a> 
<div></div><br>
   

<div class="table-responsive">

        <div class="col-sm-12">
          <div class="well">
             <h1>Nouveau Sondage </h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-info btn-fill">
    {{ form_end(form) }}
          </div>
        </div>
    </div>
        
{% endblock %}
