<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        
          <link rel="stylesheet" href="{{ asset('dist/css/bootstrap.min.css') }}" />
        
    </head>
    <body>
       
            {% block body %}
            
            {% endblock %}
        


        <script src="{{ asset('dist/js/jquery.min.js') }}"></script>
        <script src="{{ asset('dist/js/bootstrap.min.js') }}"></script>

    </body>
</html>
