<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>{% block title %}Citoyen!{% endblock %}</title>
        



    <!-- Bootstrap core CSS     -->
    <link href="http://localhost/pfeapp/web/assets/css/boot.css" rel="stylesheet" />


    </head>


      <body class="bg-dark">
      {% block body %}{% endblock %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
              <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>

        
</html>
