{% extends 'default/index.html.twig' %}

{% block body %}
<div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form class="form-horizontal" role="form" method="POST" action="{{ path('security_login_check') }}">
          {% if error %}
            <div class="alert alert-danger">
              {{ error.messageKey|trans(error.messageData) }}
            </div>
          {% endif %}
          <div class="form-group">
            <label for="pseudo">Pseudo</label>
            <input class="form-control" id="pseudo" type="text" name="_pseudo" aria-describedby="emailHelp" placeholder="Entrer pseudo">
          </div>
          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input class="form-control" id="password" type="password" name="_password" placeholder="Entrer mot de passe">
          </div>
         
          <button  type="submit" class="btn btn-primary btn-block" >Login</button>
        </form>
        
      </div>
    </div>
  </div>
{% endblock %}
