{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
<div class="col-sm-12">
      <div class="well">
    <h1>Liste des citoyens</h1>

    <table class="table table-hover">
        <thead>
            <tr  class="alert alert-info">
                <th>Nom</th>
                <th>Prenom</th>
                <th>Etat</th>

            </tr>
        </thead>
        <tbody>
        {% for l in liste %}
            <tr class="alert alert-info">
                <td>{{ l.citoyen.nom }}</td>
                <td>{{ l.citoyen.prenom }}</td>
                <td>{% if l.blocked %}<div type="submit" class="btn btn-default">Débloquer</div>{% else %} <div type="submit"  class="btn btn-danger ">Bloquer</div>{% endif %} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
    
{% endblock %}
